apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      initContainers:
      - name: wait-db
        image: busybox:1.28
        command: ['sh', '-c', 'until nc -z postgres-service 5432; do echo waiting for db; sleep 2; done;']
      - name: db-migrate
        image: my-rails-app:v1
        command: ['/bin/sh', '-c', 'bundle exec rails db:prepare']
        env:
        - name: DATABASE_URL
          value: "postgres://postgres:password123@postgres-service:5432/webapp_production"
        - name: RAILS_ENV
          value: "production"
      containers:
      - name: webapp
        image: my-rails-app:v1
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          value: "postgres://postgres:password123@postgres-service:5432/webapp_production"
        - name: RAILS_ENV
          value: "production"
        - name: SECRET_KEY_BASE
          value: "804d96a77d13b4f69747209d6c79a4ec"
        - name: RAILS_SERVE_STATIC_FILES
          value: "true"
        - name: RAILS_LOG_TO_STDOUT
          value: "true"
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-service
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
    - port: 80         
      targetPort: 3000 
      nodePort: 32000