apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      initContainers:
      - name: wait-for-db
        image: busybox:1.28
        command: ['sh', '-c', "until nc -z db-service 5432; do echo waiting for db; sleep 2; done;"]
      
      containers:
      - name: rails-app
        image: webapp:latest
        imagePullPolicy: IfNotPresent 
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          value: "postgresql://postgres:password123@db-service:5432/webapp_db"
        - name: RAILS_ENV
          value: "development"
        - name: SECRET_KEY_BASE
          value: "dummysecret"
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 40 
          periodSeconds: 10
          failureThreshold: 6 