apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: rails-app
        image: ruby:3.2
        workingDir: /app
        command: ["/bin/sh", "-c"]
        args:
          - |
            apt-get update -qq && apt-get install -y libpq-dev nodejs netcat-traditional
            bundle install
            until nc -z db-service 5432; do echo "Waiting for DB..."; sleep 2; done
            bundle exec rails db:prepare
            bundle exec rails server -b 0.0.0.0
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          value: "postgresql://postgres:password123@db-service:5432/webapp_db"
        - name: RAILS_ENV
          value: "development"
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 15
          periodSeconds: 5
          failureThreshold: 20
        volumeMounts:
        - name: app-code
          mountPath: /app
      volumes:
      - name: app-code
        hostPath:
          path: /home/runner/work/kubernetes-task2-moon1ark/kubernetes-task2-moon1ark
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-service
spec:
  selector:
    app: webapp
  ports:
    - protocol: TCP
      port: 80         
      targetPort: 3000