apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      initContainers:
      - name: init-db
        image: ruby:3.2
        workingDir: /app
        command: ["/bin/sh", "-c"]
        args:
          - |
            until nc -z db-service 5432; do echo "Waiting for DB..."; sleep 2; done
            bundle exec rails db:prepare
        env:
        - name: DATABASE_URL
          value: "postgresql://postgres:password123@db-service:5432/webapp_db"
        volumeMounts:
        - name: app-code
          mountPath: /app
      
      containers:
      - name: rails-app
        image: ruby:3.2
        workingDir: /app
        command: ["bundle", "exec", "rails", "server", "-b", "0.0.0.0"]
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          value: "postgresql://postgres:password123@db-service:5432/webapp_db"
        - name: RAILS_ENV
          value: "development"
        volumeMounts:
        - name: app-code
          mountPath: /app
      volumes:
      - name: app-code
        hostPath:
          path: /home/runner/work/kubernetes-task2-moon1ark/kubernetes-task2-moon1ark