apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: rails-app
        image: postgres:15 
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "HTTP/1.1 200 OK\n\n Hello" > index.html;
            while true; do { echo -e "HTTP/1.1 200 OK\r\nContent-Length: 5\r\n\r\nHello"; } | nc -l -p 3000; done
        ports:
        - containerPort: 3000
        readinessProbe:
          tcpSocket:
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5