apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: webapp
          image: moon1ark
          ports:
            - containerPort: 3000
          env:
            - name: RAILS_ENV
              value: production
            - name: SECRET_KEY_BASE
              value: dummysecretkey123
            - name: POSTGRES_DB
              value: rails_db
            - name: POSTGRES_USER
              value: rails_user
            - name: POSTGRES_PASSWORD
              value: rails_password
            - name: POSTGRES_HOST
              value: postgres
